<div class="mat-elevation-z8">

    <div class="add-car__wrapper">
        <button md-raised-button (click)="createCarModel()">Add Model</button>
    </div>

    <md-table #table [dataSource]="carModelList">
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        <ng-container cdkColumnDef="mark">
            <md-header-cell *cdkHeaderCellDef> Mark </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row._embedded.mark.name}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="model">
            <md-header-cell *cdkHeaderCellDef> Model </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="action">
            <md-header-cell *cdkHeaderCellDef> Action </md-header-cell>
            <md-cell *cdkCellDef="let row">
                <button md-button (click)="editCarModel(row)">Edit</button>
                <button md-button (click)="removeCarModel(row)">Remove</button>
            </md-cell>
        </ng-container>
    </md-table>

</div>