<div class="material__shadow padding-24">
    <md-tab-group>
        <md-tab label="Mark">
            <car-mark></car-mark>
        </md-tab>
        <md-tab label="Model">
            <car-model></car-model>
        </md-tab>
        <md-tab label="Type">
            <car-type></car-type>
        </md-tab>
        <md-tab label="Maintenance Rule">
            <maintenance-rule></maintenance-rule>
        </md-tab>
        <md-tab label="Maintenance Type">
            <maintenance-type></maintenance-type>
        </md-tab>
    </md-tab-group>
</div>